<a href="https://colab.research.google.com/github/ArekPloska/Learning/blob/main/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction#

#### This notebook extracts bank marketing data from the UCI Machine Learning Repository. The objective is to build a classification model to predict the subscriptions. The data is leated with direct marketing campaings of a Portuguese banking institution. The marketing campaings were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed. ####

**Business Problem:** How to build a classification model to predict the customes who are expected to subscribe a term deposit (variable y).

In [ ]:
#Import required libraries

import numpy as np
import pandas as pd
import time
import re
import os
import pandas_profiling

In [ ]:
#Import and read the dataset as df using pandas read_csv function from the dataset: bank.csv
df = pd.read_csv('bank.csv', sep=';')

In [ ]:
#View the first five rows of the dataset using the head function
df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

#Data Dictionary#

####Provides detailed attribute level information:####

1. age (numeric)
2. job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3. marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4. education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5. default: has credit in default? (categorical: 'no','yes','unknown')
6. housing: has housing loan? (categorical: 'no','yes','unknown')

#Data Understanding#

####To understand the data at a attribut level, we can use functions like info and describe, however, pandas_profiling is a library that provides nany descriptive information in one function where we can extract the following information:####

####At dataset level:####
1. Number of variables
2. Number of observations
3. Totoal Missing (%)
4. Total size in memory
5. Average record size in memory
6. Correlation Matrix
7. Sample Data

In [ ]:
#Run the pandas_profiling
pandas_profiling.ProfileReport(df)

TypeError: ignored